Orchestrateur.json
[{"id":"8583625b.5f86c","type":"tab","label":"Raspberry Flow","disabled":false,"info":""},{"id":"1ce12039.c5b92","type":"tab","label":"Android Flow","disabled":false,"info":""},{"id":"4b142d9a.f8f2d4","type":"mqtt-broker","z":"","name":"Raspberry","broker":"192.168.137.161","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"92b51f36.70cf4","type":"mqtt-broker","z":"","name":"Android","broker":"192.168.137.23","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"996b46bc.b4e478","type":"mqtt-broker","z":"","name":"android broker celui la","broker":"http://192.168.137.113","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c319fbb9.7ba148","type":"mqtt in","z":"8583625b.5f86c","name":"","topic":"/queues/1/next","qos":"2","datatype":"auto","broker":"4b142d9a.f8f2d4","x":200,"y":240,"wires":[["59986038.0617f"]]},{"id":"e3a9eae7.0272d8","type":"comment","z":"8583625b.5f86c","name":"Orchestrator Main - Raspberry","info":"# Broker - Orchestrator Main","x":500,"y":60,"wires":[]},{"id":"efcc7664.953488","type":"http request","z":"8583625b.5f86c","name":"NextVisitor","method":"PUT","ret":"txt","paytoqs":false,"url":"http://localhost:9428/api/queues/{{{queueId}}}/next-visitor/strategy/1","tls":"","proxy":"","authType":"basic","x":730,"y":240,"wires":[["9382c2e1.4c1ff"]]},{"id":"64e182ef.76eccc","type":"mqtt in","z":"8583625b.5f86c","name":"","topic":"/queues/1/previous","qos":"2","datatype":"auto","broker":"4b142d9a.f8f2d4","x":210,"y":340,"wires":[["61ebeb2.e788214"]]},{"id":"20fba99e.81cc86","type":"http request","z":"8583625b.5f86c","name":"PreviousVisitor","method":"PUT","ret":"txt","paytoqs":false,"url":"http://localhost:9428/api/queues/{{{queueId}}}/previous-visitor","tls":"","proxy":"","authType":"basic","x":740,"y":340,"wires":[["a80e3d56.2583b"]]},{"id":"40cefb03.1c76f4","type":"mqtt in","z":"8583625b.5f86c","name":"","topic":"/queues/1/afk","qos":"2","datatype":"auto","broker":"4b142d9a.f8f2d4","x":190,"y":460,"wires":[["cee42f16.6d363"]]},{"id":"a73ff2ac.e340a","type":"http request","z":"8583625b.5f86c","name":"SetAFKVisitor","method":"PUT","ret":"txt","paytoqs":false,"url":"http://localhost:9428/api/queues/{{{queueId}}}/absent-visitor","tls":"","proxy":"","authType":"basic","x":740,"y":460,"wires":[["6dfa38d1.1bc378"]]},{"id":"3f37dfdb.3f099","type":"mqtt in","z":"8583625b.5f86c","name":"","topic":"/queues/id","qos":"2","datatype":"auto","broker":"4b142d9a.f8f2d4","x":180,"y":120,"wires":[["e476d531.9acfe8"]]},{"id":"e476d531.9acfe8","type":"function","z":"8583625b.5f86c","name":"SaveQueueId","func":"\nflow.set(\"queueId\", msg.payload);\n \nnode.log(\"QueueId est définie à : \" + msg.payload + \" soit : \" + flow.get(\"queueId\"));\n \nreturn msg;","outputs":1,"noerr":0,"x":720,"y":120,"wires":[[]]},{"id":"59986038.0617f","type":"function","z":"8583625b.5f86c","name":"GetQueueId","func":"msg.queueId = flow.get(\"queueId\");\nnode.log(\"Received next with qId = \" +  flow.get(\"queueId\") + \"(\" + msg.queueId  + \")\");\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":240,"wires":[["efcc7664.953488"]]},{"id":"61ebeb2.e788214","type":"function","z":"8583625b.5f86c","name":"GetQueueId","func":"msg.queueId = flow.get(\"queueId\");\nnode.log(\"Received next with qId = \" +  flow.get(\"queueId\") + \"(\" + msg.queueId  + \")\");\nnode.log(\"Gonna send : http://localhost:9428/api/queues/\" +  flow.get(\"queueId\") + \"/previous-visitor\");\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":340,"wires":[["20fba99e.81cc86"]]},{"id":"cee42f16.6d363","type":"function","z":"8583625b.5f86c","name":"GetQueueId","func":"msg.queueId = flow.get(\"queueId\");\nnode.log(\"Received next with qId = \" +  flow.get(\"queueId\") + \"(\" + msg.queueId  + \")\");\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":460,"wires":[["a73ff2ac.e340a"]]},{"id":"b0dcbd5b.59253","type":"mqtt in","z":"1ce12039.c5b92","name":"","topic":"/queues/next-visitor","qos":"2","datatype":"json","broker":"92b51f36.70cf4","x":370,"y":560,"wires":[["8b2dfe90.17a0a"]]},{"id":"1b3ac56e.f2e1ab","type":"comment","z":"1ce12039.c5b92","name":"Orchestrator Main - ANDROID","info":"# Broker - Orchestrator Main","x":700,"y":100,"wires":[]},{"id":"64f4cb9e.c0d7e4","type":"http request","z":"1ce12039.c5b92","name":"NextVisitor","method":"PUT","ret":"obj","paytoqs":false,"url":"http://localhost:9428/api/queues/{{{queueId}}}/next-visitor/strategy/{{{strategyId}}}","tls":"","proxy":"","authType":"basic","x":1010,"y":560,"wires":[["500600d3.7ab9b"]]},{"id":"9382c2e1.4c1ff","type":"mqtt out","z":"8583625b.5f86c","name":"","topic":"/queues/1/next/response","qos":"2","retain":"false","broker":"4b142d9a.f8f2d4","x":990,"y":240,"wires":[]},{"id":"a80e3d56.2583b","type":"mqtt out","z":"8583625b.5f86c","name":"","topic":"/queues/1/previous/response","qos":"2","retain":"false","broker":"4b142d9a.f8f2d4","x":1000,"y":340,"wires":[]},{"id":"6dfa38d1.1bc378","type":"mqtt out","z":"8583625b.5f86c","name":"","topic":"/queues/1/afk/response","qos":"2","retain":"false","broker":"4b142d9a.f8f2d4","x":990,"y":460,"wires":[]},{"id":"9d7fcac4.919498","type":"inject","z":"1ce12039.c5b92","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":1220,"wires":[["c4548f80.bbaf1"]]},{"id":"c4548f80.bbaf1","type":"mqtt out","z":"1ce12039.c5b92","name":"","topic":"success","qos":"2","retain":"","broker":"92b51f36.70cf4","x":470,"y":1220,"wires":[]},{"id":"a378cbf5.03cb58","type":"mqtt in","z":"1ce12039.c5b92","name":"","topic":"/login","qos":"2","datatype":"json","broker":"92b51f36.70cf4","x":90,"y":800,"wires":[["e4e501bd.9dd69"]]},{"id":"df1790e3.83053","type":"function","z":"1ce12039.c5b92","name":"getId()","func":"var value = msg.payload.id;\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":860,"wires":[["3ead4b96.8381a4"]]},{"id":"3ead4b96.8381a4","type":"mqtt out","z":"1ce12039.c5b92","name":"","topic":"/log-in-queue","qos":"","retain":"","broker":"92b51f36.70cf4","x":1250,"y":860,"wires":[]},{"id":"b6f220c5.06a27","type":"http request","z":"1ce12039.c5b92","name":"GetQueue","method":"GET","ret":"obj","paytoqs":false,"url":"http://localhost:9428/api/queues/{{{queueId}}}","tls":"","proxy":"","authType":"basic","x":770,"y":800,"wires":[["5026a1a9.fc044"]]},{"id":"f60fce96.8f55c","type":"function","z":"1ce12039.c5b92","name":"ProcessQueueId","func":"msg.queueId = msg.payload.queueId\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":800,"wires":[["b6f220c5.06a27"]]},{"id":"cf441dd2.23087","type":"inject","z":"1ce12039.c5b92","name":"","topic":"","payload":"46","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":1300,"wires":[["b041040.499ca"]]},{"id":"b041040.499ca","type":"mqtt out","z":"1ce12039.c5b92","name":"","topic":"/display-visitor","qos":"2","retain":"","broker":"92b51f36.70cf4","x":480,"y":1300,"wires":[]},{"id":"8b2dfe90.17a0a","type":"function","z":"1ce12039.c5b92","name":"ProcessQueueIdAndStrategyId","func":"msg.queueId = msg.payload.queueId\nmsg.strategyId = msg.payload.strategyId\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":560,"wires":[["64f4cb9e.c0d7e4","e26c8fb8.6b861"]]},{"id":"b83d2b3e.120fd8","type":"mqtt out","z":"1ce12039.c5b92","name":"","topic":"/display-visitor","qos":"2","retain":"","broker":"92b51f36.70cf4","x":1460,"y":480,"wires":[]},{"id":"500600d3.7ab9b","type":"function","z":"1ce12039.c5b92","name":"getId()","func":"var value = msg.payload.id;\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":480,"wires":[["b83d2b3e.120fd8"]]},{"id":"6c14df08.f2ecf","type":"http request","z":"1ce12039.c5b92","name":"PreviousVisitor","method":"PUT","ret":"obj","paytoqs":false,"url":"http://localhost:9428/api/queues/{{{queueId}}}/previous-visitor","tls":"","proxy":"","authType":"basic","x":1040,"y":480,"wires":[["500600d3.7ab9b"]]},{"id":"ac2af720.c442d8","type":"function","z":"1ce12039.c5b92","name":"ProcessQueueId","func":"msg.queueId = msg.payload.queueId\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":480,"wires":[["6c14df08.f2ecf","e26c8fb8.6b861"]]},{"id":"3f3aa7fe.caa518","type":"mqtt in","z":"1ce12039.c5b92","name":"","topic":"/queues/previous-visitor","qos":"2","datatype":"json","broker":"92b51f36.70cf4","x":360,"y":480,"wires":[["ac2af720.c442d8"]]},{"id":"d5db93e8.fe1a3","type":"http request","z":"1ce12039.c5b92","name":"AbsentVisitor","method":"PUT","ret":"obj","paytoqs":false,"url":"http://localhost:9428/api/queues/{{{queueId}}}/absent-visitor","tls":"","proxy":"","authType":"basic","x":1030,"y":420,"wires":[["500600d3.7ab9b"]]},{"id":"8f1116e4.f460c8","type":"function","z":"1ce12039.c5b92","name":"ProcessQueueId","func":"msg.queueId = msg.payload.queueId\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":420,"wires":[["d5db93e8.fe1a3","e26c8fb8.6b861"]]},{"id":"40529a35.f01254","type":"mqtt in","z":"1ce12039.c5b92","name":"","topic":"/queues/absent-visitor","qos":"2","datatype":"json","broker":"92b51f36.70cf4","x":420,"y":420,"wires":[["8f1116e4.f460c8"]]},{"id":"1882dd7a.16c283","type":"mqtt out","z":"1ce12039.c5b92","name":"","topic":"/display-remaining-visitor","qos":"2","retain":"","broker":"92b51f36.70cf4","x":1310,"y":640,"wires":[]},{"id":"e26c8fb8.6b861","type":"http request","z":"1ce12039.c5b92","name":"NumberLeft","method":"GET","ret":"obj","paytoqs":false,"url":"http://localhost:9428/api/queues/{{{queueId}}}/number-left","tls":"","proxy":"","authType":"basic","x":1050,"y":640,"wires":[["1882dd7a.16c283"]]},{"id":"1beace0b.b0e6a2","type":"switch","z":"1ce12039.c5b92","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1260,"y":400,"wires":[[]]},{"id":"36c2228f.c4569e","type":"http request","z":"1ce12039.c5b92","name":"GetQueue","method":"GET","ret":"obj","paytoqs":false,"url":"http://localhost:9428/api/queues/","tls":"","proxy":"","authType":"basic","x":630,"y":1060,"wires":[["63901c0a.6b4284"]]},{"id":"63901c0a.6b4284","type":"mqtt out","z":"1ce12039.c5b92","name":"","topic":"/display-queue-list","qos":"2","retain":"","broker":"92b51f36.70cf4","x":910,"y":1060,"wires":[]},{"id":"a0fabd16.a502","type":"mqtt in","z":"8583625b.5f86c","name":"","topic":"/queues/remaining","qos":"2","datatype":"auto","broker":"4b142d9a.f8f2d4","x":210,"y":560,"wires":[["2dbb7648.51e50a"]]},{"id":"2dbb7648.51e50a","type":"function","z":"8583625b.5f86c","name":"GetQueueId","func":"msg.queueId = flow.get(\"queueId\");\nnode.log(\"Received next with qId = \" +  flow.get(\"queueId\") + \"(\" + msg.queueId  + \")\");\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":560,"wires":[["b6f1c563.731368"]]},{"id":"b6f1c563.731368","type":"http request","z":"8583625b.5f86c","name":"GetRemaining","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:9428/api/queues/{{{queueId}}}/number-left","tls":"","proxy":"","authType":"basic","x":740,"y":560,"wires":[["a1194e7a.cdd4f","9cc3b5c0.30af48"]]},{"id":"a1194e7a.cdd4f","type":"mqtt out","z":"8583625b.5f86c","name":"","topic":"/queues/1/remaining/response","qos":"2","retain":"false","broker":"4b142d9a.f8f2d4","x":1010,"y":560,"wires":[]},{"id":"4d874c29.f33084","type":"mqtt in","z":"1ce12039.c5b92","name":"","topic":"/queues/refresh-queue-list","qos":"2","datatype":"auto","broker":"92b51f36.70cf4","x":390,"y":1060,"wires":[["36c2228f.c4569e"]]},{"id":"5026a1a9.fc044","type":"switch","z":"1ce12039.c5b92","name":"empty ?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":940,"y":800,"wires":[["3f4fb3f4.271efc"],["df1790e3.83053"]]},{"id":"4265628c.a9563c","type":"mqtt out","z":"1ce12039.c5b92","name":"","topic":"/display-message","qos":"2","retain":"","broker":"92b51f36.70cf4","x":890,"y":720,"wires":[]},{"id":"3f4fb3f4.271efc","type":"change","z":"1ce12039.c5b92","name":"InvalidQueueNumber","rules":[{"t":"set","p":"payload","pt":"msg","to":"Invalid Queue Number !","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":720,"wires":[["4265628c.a9563c"]]},{"id":"e4e501bd.9dd69","type":"switch","z":"1ce12039.c5b92","name":"","property":"payload.queueId","propertyType":"msg","rules":[{"t":"regex","v":"[0-9]+","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":210,"y":800,"wires":[["f60fce96.8f55c"],["3f4fb3f4.271efc"]]},{"id":"9cc3b5c0.30af48","type":"debug","z":"8583625b.5f86c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":620,"wires":[]}]