Raspberry.json
[{"id":"1753a589.a0508a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ecc9007.bb419","type":"mosca in","z":"1753a589.a0508a","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":870,"y":60,"wires":[[]]},{"id":"e99fc20c.a0b7e","type":"comment","z":"1753a589.a0508a","name":"Raspberry ","info":"","x":860,"y":20,"wires":[]},{"id":"5c909378.2ad53c","type":"rpi-gpio in","z":"1753a589.a0508a","name":"Mécanique","pin":"29","intype":"tri","debounce":"25","read":true,"x":80,"y":260,"wires":[["f5cd3469.8cae98","a4db2bfa.f2ea78"]]},{"id":"9d9cfa51.8a4678","type":"mqtt out","z":"1753a589.a0508a","name":"QueueId","topic":"/queues/id","qos":"2","retain":"false","broker":"f9060e87.068a5","x":690,"y":260,"wires":[]},{"id":"f5cd3469.8cae98","type":"function","z":"1753a589.a0508a","name":"IncrementOrLogin","func":"let t1;\nlet tdiff;\n\n\n\nsetQueueId();\nif (msg.payload===1) flow.set(\"t0\", Date.now());\nif (msg.payload===0) { \n   t1 = Date.now();\n   tdiff = t1 - flow.get(\"t0\");  \n   \n   if (tdiff < 1000)  { \n        node.log(\"incrementQueueIdk\");\n         incrementQueueId();\n   } else if (tdiff > 1000) {\n       msg.payload = flow.get(\"queueId\");\n       node.log(\"Envoie de la queueId au back\");\n       initBasicStuff();\n       return [null , msg];\n   } \n\n}\n\nfunction setQueueId(){\n    if(flow.get(\"queueId\") == null || flow.get(\"queueId\") == undefined){\n         flow.set(\"queueId\", 0);\n         node.log(\"Valeur queueId à 0\");\n    }\n}\n\nfunction initBasicStuff(){\n    flow.set(\"modes\", [\"QUEUE\", \"V_ID\", \"REMAIN\"]);\n    flow.set(\"modeIndex\", 0);\n}\n\n\nfunction incrementQueueId(){\n    if((Number.parseInt(flow.get(\"queueId\"), 10)+1) < 8){\n         flow.set(\"queueId\", Number.parseInt(flow.get(\"queueId\"), 10)+1);\n    } else {\n         flow.set(\"queueId\", 1);\n    }\n    node.log(\"QueueId = \" + Number.parseInt(flow.get(\"queueId\"), 10));\n}","outputs":2,"noerr":0,"x":320,"y":260,"wires":[[],["9d9cfa51.8a4678"]]},{"id":"b7415bbe.6a01c8","type":"comment","z":"1753a589.a0508a","name":"Envoie à l'Orchestror du QueueId","info":"","x":310,"y":160,"wires":[]},{"id":"136796a4.c44899","type":"rpi-gpio in","z":"1753a589.a0508a","name":"Tactile","pin":"36","intype":"tri","debounce":"25","read":true,"x":60,"y":600,"wires":[["7655c749.288668"]]},{"id":"c17d56ca.f61628","type":"mqtt out","z":"1753a589.a0508a","name":"AFK","topic":"/queues/1/afk","qos":"2","retain":"false","broker":"f9060e87.068a5","x":520,"y":620,"wires":[]},{"id":"7655c749.288668","type":"function","z":"1753a589.a0508a","name":"NextOrAFK","func":"let t1;\nlet tdiff;\n \nif (msg.payload===1)\n    context.set(\"t0\", Date.now());\nif (msg.payload===0) { \n   t1 = Date.now();\n   tdiff = t1 - context.get(\"t0\");  \n   \n   if (tdiff < 1000)  { \n          return [msg , null];\n   } else if (tdiff > 1000) {\n          return [null , msg];\n   } \n\n}","outputs":2,"noerr":0,"x":280,"y":600,"wires":[["cb708bdc.f1a328"],["c17d56ca.f61628"]]},{"id":"537bd7c9.52bfa8","type":"comment","z":"1753a589.a0508a","name":"Envoie à l'Orchestror du Next/AFK","info":"","x":300,"y":480,"wires":[]},{"id":"cb708bdc.f1a328","type":"mqtt out","z":"1753a589.a0508a","name":"Next","topic":"/queues/1/next","qos":"2","retain":"false","broker":"f9060e87.068a5","x":520,"y":560,"wires":[]},{"id":"53969d97.e784c4","type":"mqtt in","z":"1753a589.a0508a","name":"","topic":"/queues/1/next/response","qos":"2","datatype":"auto","broker":"f9060e87.068a5","x":1130,"y":420,"wires":[["b5cebd65.0ef2c"]]},{"id":"ebf286e6.3dc708","type":"comment","z":"1753a589.a0508a","name":"Affichages des 3 types","info":"","x":1300,"y":160,"wires":[]},{"id":"ec5e58a8.87e148","type":"mqtt out","z":"1753a589.a0508a","name":"Previous","topic":"/queues/1/previous","qos":"2","retain":"false","broker":"f9060e87.068a5","x":730,"y":400,"wires":[]},{"id":"b5cebd65.0ef2c","type":"function","z":"1753a589.a0508a","name":"setToPrint","func":"flow.set(\"toPrint\", msg.payload);\nnode.log(\"Setting new toPrint wich is : \" + msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":340,"wires":[["71727918.656458"]]},{"id":"a4db2bfa.f2ea78","type":"function","z":"1753a589.a0508a","name":"Count clicks","func":"var count = context.get(\"count\") || 0;\n\nif (msg.count === count && count !== 0) {\n    context.set(\"count\", 0);\n    return [null, msg];\n}\n\nif (count < 3) {\n    if (msg.delay === undefined) {\n        count++\n        context.set(\"count\", count);\n    }\n    msg.delay = true;\n    msg.count = count ;\n    return [msg, null];\n}","outputs":2,"noerr":0,"x":320,"y":400,"wires":[["f5bb63d.8cf44a"],["14b9b57f.5e413b"]]},{"id":"f5bb63d.8cf44a","type":"delay","z":"1753a589.a0508a","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":340,"wires":[["a4db2bfa.f2ea78"]]},{"id":"14b9b57f.5e413b","type":"switch","z":"1753a589.a0508a","name":"isDoubleClick","property":"count","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":400,"wires":[["ec5e58a8.87e148"]]},{"id":"72ebc0d2.a0b1","type":"comment","z":"1753a589.a0508a","name":"Mode d'affichage","info":"","x":300,"y":700,"wires":[]},{"id":"971babe2.fcbf48","type":"comment","z":"1753a589.a0508a","name":"Clique simple","info":"Clique simple","x":680,"y":560,"wires":[]},{"id":"8be8f4dc.a5f168","type":"comment","z":"1753a589.a0508a","name":"Clique long","info":"Clique long","x":670,"y":620,"wires":[]},{"id":"78d196c8.ccbdb8","type":"function","z":"1753a589.a0508a","name":"ChangePrintMode","func":"if(msg.payload == 1){\n    var mode = flow.get(\"modeIndex\");\n    if(mode == 2){\n        flow.set(\"modeIndex\", 0); \n    } else {\n       flow.set(\"modeIndex\", (Number.parseInt(flow.get(\"modeIndex\"), 10) + 1));  \n    }\n    node.log(\"Print mode is change : \" + flow.get(\"modes\")[Number.parseInt(flow.get(\"modeIndex\"), 10)] )\n\n}\n\nreturn msg;  ","outputs":1,"noerr":0,"x":420,"y":780,"wires":[["71727918.656458"]]},{"id":"c303a660.b27838","type":"rpi-gpio in","z":"1753a589.a0508a","name":"Button avec LED","pin":"15","intype":"tri","debounce":"25","read":true,"x":170,"y":780,"wires":[["78d196c8.ccbdb8"]]},{"id":"70643f97.fc418","type":"grove-4-digit-display","z":"1753a589.a0508a","name":"Afficheur LCD","pin":"18","x":1880,"y":680,"wires":[]},{"id":"cd12e8b5.338ea8","type":"switch","z":"1753a589.a0508a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1270,"y":680,"wires":[["e60558b4.e52918"]]},{"id":"71727918.656458","type":"function","z":"1753a589.a0508a","name":"shouldDisplayNewValue","func":"msg.payload = 0;\nif(flow.get(\"modes\")[Number.parseInt(flow.get(\"modeIndex\"), 10)] == 'V_ID'){\n    msg.payload = 1;\n}\n\nif(flow.get(\"modes\")[Number.parseInt(flow.get(\"modeIndex\"), 10)] == 'REMAIN'){\n    msg.payload = 2;\n}\n\nif(flow.get(\"modes\")[Number.parseInt(flow.get(\"modeIndex\"), 10)] == 'QUEUE'){\n    msg.payload = 3;\n}\n\n\nnode.log(\"Wanted display mode is : \" + flow.get(\"modes\")[Number.parseInt(flow.get(\"modeIndex\"), 10)]);\nnode.log(\"Should display value of type = \" + msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":680,"wires":[["cd12e8b5.338ea8","cc3e717d.ff29a","aecc5b21.150648"]]},{"id":"e60558b4.e52918","type":"function","z":"1753a589.a0508a","name":"printVID","func":"node.log(\"xxx\"+flow.get(\"toPrint\"));\nnode.log(\"xxx\"+JSON.parse(flow.get(\"toPrint\")).id);\nnode.log(\"xxx\"+typeof flow.get(\"toPrint\"));\n\nmsg.payload = JSON.parse(flow.get(\"toPrint\")).id;\n\nreturn msg;","outputs":1,"noerr":0,"x":1520,"y":680,"wires":[["b7ddcd9e.7c733"]]},{"id":"138f52d.9e051ad","type":"mqtt in","z":"1753a589.a0508a","name":"","topic":"/queues/1/previous/response","qos":"2","datatype":"auto","broker":"f9060e87.068a5","x":1120,"y":340,"wires":[["b5cebd65.0ef2c"]]},{"id":"73e3092a.49cb48","type":"function","z":"1753a589.a0508a","name":"printRemaining","func":"node.log(\"To print is : \"+ msg.payload);\n  \nreturn msg;","outputs":1,"noerr":0,"x":1520,"y":900,"wires":[["b7ddcd9e.7c733"]]},{"id":"cc3e717d.ff29a","type":"switch","z":"1753a589.a0508a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1270,"y":600,"wires":[["c2faa8fa.8c2438"]]},{"id":"c2faa8fa.8c2438","type":"function","z":"1753a589.a0508a","name":"printQueueId","func":"node.log(\"To print is : \"+flow.get(\"queueId\"));\n  \nmsg.payload =  flow.get(\"queueId\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":600,"wires":[["b7ddcd9e.7c733"]]},{"id":"fc5705e5.2b5f58","type":"mqtt in","z":"1753a589.a0508a","name":"","topic":"/queues/1/afk/response","qos":"2","datatype":"auto","broker":"f9060e87.068a5","x":1140,"y":260,"wires":[["b5cebd65.0ef2c"]]},{"id":"aecc5b21.150648","type":"switch","z":"1753a589.a0508a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1270,"y":760,"wires":[["7fffa65b.49a448","db50b1c4.3a76"]]},{"id":"7fffa65b.49a448","type":"mqtt out","z":"1753a589.a0508a","name":"Remaining","topic":"/queues/remaining","qos":"2","retain":"false","broker":"f9060e87.068a5","x":1530,"y":760,"wires":[]},{"id":"9acd2698.6299a8","type":"mqtt in","z":"1753a589.a0508a","name":"","topic":"/queues/1/remaining/response","qos":"2","datatype":"auto","broker":"f9060e87.068a5","x":1260,"y":900,"wires":[["73e3092a.49cb48","a397688d.a79e88"]]},{"id":"a397688d.a79e88","type":"debug","z":"1753a589.a0508a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1490,"y":980,"wires":[]},{"id":"db50b1c4.3a76","type":"debug","z":"1753a589.a0508a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1530,"y":820,"wires":[]},{"id":"b7ddcd9e.7c733","type":"function","z":"1753a589.a0508a","name":"FormatPrinter","func":"function padNumber(number) {\n    number = number.toString();\n\n    while(number.length < 4) {\n        number = \"0\" + number;\n    }\n\n    return number;\n}\n\nmsg.payload = padNumber(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":1890,"y":840,"wires":[["70643f97.fc418"]]},{"id":"f9060e87.068a5","type":"mqtt-broker","z":"","name":"Main Orchestrator","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]